<ngx-combobox
  [dataList]="dataList"
  [key]="'id'"
  [propertiesReturn]="propertiesReturn"
  (returnValue)="print($event)"
  [namesValue]="namesValue"
  placeholder="Buscar"
  [limit]="50"
  [required]="true"
  [requiredMessage]="'Campo requerido'"
  [containerClassList]="['cssClass1']"
  [inputClassList]="['cssClass2']"
  [selectClassList]="['cssClass3']"
  [optionClassList]="['cssClass4']"
  [spanClassList]="['cssClass5']"
></ngx-combobox>
<!--una pagina ejemplo cualqueira-->
<div>
  <h1>Hola esto es un texto</h1>
  <h1>Hola esto es un texto</h1>
  <h1>Hola esto es un texto</h1>
  <h1>Hola esto es un texto</h1>
  <h1>Hola esto es un texto</h1>
</div>
